<%- include('../partials/header.ejs') %>

	<div id="show-container">
		
		<div id="thread-show">
			<p><%= thread.title %></p>
			<p><%= thread.threadDescription %></p>
		</div>

	</div>

	<!-- Show comments -->

	<!-- If user, show add comment -->

	<% if(user == thread.user.username) { %>
     	 <div>
        	<a href="/thread/<%= thread.id %>/edit">(Edit <%= thread.title %>)</a>
      	</div>
    	<form method="POST" action="/thread/<%= thread.id %>?_method=DELETE">
        	<button>Delete <%= thread.title %></button>
      	</form>
      	<% } %>

<%- include('../partials/footer.ejs') %>