<%- include('../partials/headerthreadshow.ejs') %>

	<div id="show-container">
		
		<div id="thread-show">
			<p class="show-title"><%= thread.title %></p>
			<p><%= thread.threadDescription %></p>
		</div>

	</div>

	<!-- Show comments -->
	<div id="show-replies">

      <ul id="replies">
        <% thread.replies.forEach((reply) => { %>
          <div id="reply-bubble">
            <li>
              <%= reply.text %>
              <br />
              <small>(<%= reply.date.toLocaleString() %>) by <%= reply.username %> </small>
            </li>
          </div>
        <% }) %>
      </ul>

    </div>

	<!-- If user, show add comment -->
	<div id="show-add-reply">

  	<% if(username) { %>
    	<form method="POST" action="/replies/<%= thread.id %>" id="text-reply">
    	    <textarea name="text" placeholder="Reply to <%= thread.title %>" rows="10" cols="150" id="show-textarea"></textarea>
    	    <button id="reply-button">Reply</button>
    	</form>
   	<% } %>

   </div>

	<% if(user == thread.user.username) { %>
     	 <div>
        	<a href="/thread/<%= thread.id %>/edit">(Edit <%= thread.title %>)</a>
      	</div>
    	<form method="POST" action="/thread/<%= thread.id %>?_method=DELETE">
        	<button>Delete <%= thread.title %></button>
      	</form>
      	<% } %>

<%- include('../partials/footer.ejs') %>